//COLOR VARIABLES:
$primary-green: #557571;
$secondary-orange: #D49A89;
$light-orange:  #F7D1BA;
$neutral: #F4F4F4;
//END OF COLOR VARIABLES;

//START OF TEXT COLOR VARIABLES
$text-light: #F4F4F4;
$text-dark: #000000;
//END OF TEXT COLOR VARIABLES 

//GLOBAL STYLES
body {
    background-color: $neutral;
    font-family: Urbanist, sans-serif;
}

p {
    font-size: 1.5rem;
}

.heading {
    font-family: Yellowtail, Urbanist, open-sans;
    font-size: 3rem;
}

.btn-green {
    background-color: $primary-green;
    color: $text-light;
}

.btn-orange {
    background-color: $secondary-orange;
    color: $text-light;
}

//END OF GLOBAL STYLES

//NAVBAR STYLES
.navbar {
    background-color: $primary-green;
}
//END OF NAVBAR STYLES

//HERO BANNER STYLES
.white-text {
    color: $text-light;
}
//END OF OF HERO BANNER STYLES

.video-overlay-text {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -360px;
    top: 50%;
    margin-top: -70px;

}


.video {
    width:100%;
    height:auto;
}

.video-container {
    position: relative;
    z-index: 0;
}

.main-heading {
    font-family: Yellowtail, Urbanist, open-sans;
    font-size: 7rem;
}

//HOW IT WORKS SECTION STYLES
#how-it-works-section {
    background-color:$neutral;
    color: $text-dark;
}

.how-it-works-images {
    width: 200px;
    height:auto;
}

.description-text {
    font-size: 1.1rem;
}
//END OF HOW IT WORKS SECTION STYLES

//SUBSCRIPTIONS SECTION STYLES
.subscriptions-section {
    background-color: $secondary-orange;
    color: $text-light;
}

.subscription-image {
    width: 70%;
    height:auto;
}
//END OF SUBSCRIPTIONS SECTION STYLES

//CTA SECTION STYLES
#cta-section {
    background-color: $light-orange;
    color: $text-dark;
}
//END OF CTA SECTION STYLES

//FOOTER SECTION STYLES
#footer-section {
    background-color: $primary-green;
    color: $text-light;
    a {
        color: $text-light;
    }
    
}

.social-icons {
    font-size: 1.5rem;
    padding-right: 15px;
}
//END OF FOOTER SECTION STYLES
