body {
  background-color: #F4F4F4;
  font-family: Urbanist, sans-serif; }

.navbar {
  background-color: #557571; }

.white-text {
  color: #F4F4F4; }

.video-overlay-text {
  position: absolute;
  z-index: 1; }

.video {
  width: 100%;
  height: auto; }

.video-container {
  position: relative;
  z-index: 0; }
